hr {
  border-top: 1px solid #8c8b8b;
  margin-bottom: 2em;
}

body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: #edf7f7;
  color: #5e6472;
}

.title {
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  margin-block-end: 0px;
  font-family: "Montserrat Alternates", sans-serif;
}

/*カード*/
.card {
  width: 70%;
  margin: 1em auto;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 8px 8px #ccc;
  display: flex;
  padding: 1em 1em 1em 1em;
  font-family: "IBM Plex Sans KR", sans-serif;
  border-left: 1.5em solid #ffa69e;
}

.card-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 1.6em;
  height: 1.6em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
}

.card-content {
  width: 80%;
  padding: 0 1em 0 1em;
  display: flex;
  flex-direction: column;
}

.card-padding {
  margin: 0.5em;
}

.card-button {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  height: 1.5em;
}

.buttons {
  width: 40px;
  height: 40px;
  color:#8c8b8b;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.buttons:hover {
  color:#ff8d83;
}

.card-content-task {
  display: flex;
  justify-content: flex-start;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card-content-update {
  display: flex;
  justify-content: flex-start;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.input-task {
  font-size: 1em;
  width: 90%;
  height: 2em;
  border: none;
  outline: none;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.card-content-date {
  display: flex;
  justify-content: flex-start;
}

.hide {
  display: none;
}

.task {
  border:none ;
}

.new-button {
  width: 50px;
  height: 50px;
  color:#8c8b8b;
  background-color: #edf7f7;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}

.new-button:hover {
  color:#ff8d83;
}

.card-content-update {
  border-bottom: 1px solid #8c8b8b;
}

.card-content-update-input{
 border: none; 
}

.form-new {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #8c8b8b;
}